@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --animate-pulse: pulse 0.7s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  --animate-pop-in: pop-in 0.25s ease-in-out forwards;
  @keyframes pop-in {
    0% {
      transform: scale(0.95);
      opacity: 0;
    }
    50% {
      transform: scale(1.05);
      opacity: 0.5;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
}

@utility with-hover {
  @apply rounded-xs hover:backdrop-brightness-95 dark:hover:backdrop-brightness-300 cursor-pointer transition-colors duration-200;
}

@utility skeleton {
  @apply animate-pulse bg-neutral-800/10 dark:bg-neutral-200/10 rounded-xs;
}

body {
  font-family: var(--font-sans), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading), sans-serif;
}
