@import url('https://fonts.googleapis.com/css?family=Heebo:400,500&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
    -webkit-tap-highlight-color: transparent;
}

:root {
    --light: #f7f7f7;
    --dark: #292929;
    --light-gray: #ececec;
    --dark-gray: #808080;
    --primary: #009e77;
}


body {
    color: var(--dark);
    background: var(--light);
    line-height: 1.8;
}

a {
    color: var(--dark);
}

strong {
    font-weight: 400;
    background: var(--primary);
    padding: 0 .4rem;
    margin: 0 .1rem;
    color: var(--light);
    border-radius: .3rem;
}

.lil-txt {
    font-size: .7rem;
}

/* Titles */

h1 {
    font-weight: 500;
    line-height: 1.2;
}

h2 {
    font-weight: 500;
}

h3 {
    font-weight: 400;
}

/* Profile */

header {
    background: var(--light-gray);
    text-align: center;
    padding: 3rem 2rem;
    margin-bottom: 3rem;
}

.profile-avatar {
    width: 15rem;
    border-radius: 20rem;
}

header h3 {
    color: var(--dark-gray);
}

header .icons {
    margin: .5rem 0;
    font-size: 1.5rem;
}

header a {
    margin-left: 1rem;
}

header a:first-child {
    margin-left: 0;
}

header a:hover {
    color: var(--primary);
    transition: .2s;
}

/* Main */

main {
    text-align: center;
}

p {
    margin: .7rem 0;
}

main img {
    width: 100%;
    max-width: 40rem;
    border-radius: .7rem;
    box-shadow: 5px 15px 20px rgba(0, 0, 0, 0.174);
}

.block {
    max-width: 44rem;
    margin: 3.5rem auto;
    padding: 0 2rem;
    text-align: left;
}

.info-receita {
    background: var(--light-gray);
    width: fit-content;
    padding: 1.5rem;
    border: 1px solid var(--dark-gray);
    list-style: none;
    margin: 1rem 0;
}

.info-receita li {
    margin-top: 1rem;
}

.info-receita li:first-child {
    margin-top: 0;
}

.step-step {
    margin: .7rem 0;
    list-style: decimal;
    margin-left: 1rem;
}

.step-step li {
    margin-top: 1rem;
}

.step-step li:first-child {
    margin-top: 0;
}

footer {
    margin-top: 5rem;
}

@media screen and (max-width:660px){
    main img {
        border-radius: 0;
    }
}