body {
  font-family: $font-family-sans;
  font-weight: $font-weight-regular;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-mono;
  font-weight: $font-weight-bold;
  line-height: 1.2;
}

code,
pre,
kbd,
samp {
  font-family: $font-family-mono;
}
