/public/

/resources/

.hugo_build.lock

.hugo_server.lock

/node_modules/
npm-debug.log
yarn-error.log

.DS_Store
.AppleDouble
.LSOverride

Thumbs.db
ehthumbs.db
ehthumbs_vista.db
Desktop.ini

.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*~