#projects noscript {
  display: inline-block;

  .disclaimer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 40rem;
  
    header {
      display: flex;
      gap: 1rem;
      align-items: center;
  
      svg {
        width: 2rem;
        fill: var(--primary);
        stroke: var(--primary);
      }
    
      strong {
        color: var(--primary);
        font-size: 1.1875rem;
      }
    }
  
    #github-alternative {
      a {
        display: inline-flex;
        align-items: center;
        width: fit-content;
        gap: 0.2rem;
      }
  
      svg {
        width: 1rem;
        fill: var(--primary);
        stroke: var(--primary);
      }
    }
  }

  .projects-list {
    li {
      list-style-type: none;
      margin-top: 2rem;
      width: fit-content;

      a article {
        display: flex;
        flex-direction: column;

        span {
          font-size: 0.876rem;
        }
      }
    }
  }
}
