@keyframes slideDown {
  from {
    transform: translateY(-100%);
  } to {
    transform: translateY(0);
  }
}

.alert {
  background-color: var(--primary);
  padding: 1rem;
  position: fixed;
  width: 100%;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 25px -10px var(--primary);
  animation: slideDown 1s;
}

.alert a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.alert strong {
  text-decoration: underline;
}

@keyframes pulse {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

.alert div {
  position: relative;
}

.alert .newVideoBadge {
  content: 'NOVO!';
  background-color: crimson;
  border-radius: 5px;
  padding: 0.2rem;
  font-size: 0.625rem;
  color: var(--white);
  animation: pulse 1s infinite linear alternate;
  position: absolute;
  transform: translate(-50%, -50%);
}

.alert .thumb {
  width: 3rem;
  height: 1.7rem;
  object-fit: cover;
  border-radius: 5px;
}

.youtubeIcon {
  color: crimson;
  font-size: 1.5rem;
}

.close {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0;
}

.close svg {
  font-size: 1.5rem;
}

@media screen and (max-width: 440px) {
  .alert a {
    display: flex;
  }

  .close {
    right: 1rem;
    top: 1rem;
    transform: none;
  }
}

@media screen and (max-width: 699px) {
  .alert a {
    padding-right: 2rem;
  }
  .youtubeIcon {
    display: none;
  }
}
