.container {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: flex-end;
  overflow: hidden;
  padding: 0;
  color: #FAFAFA;
  background-color: #1C1917;
  padding: 0 11.375rem;
}

.container h1 {
  font-size: 4.5rem;
}

.container h1 span {
  color: #FCD34D;
}

.container h2 {
  font-size: 1.5rem;
  font-weight: normal;
}

.container div:last-child {
  position: relative;
  display: flex;
}

.container div:first-child {
  max-width: 57.375rem;
  width: 100%;
}

.container div:last-child::before {
  content: '';
  width: 180%;
  height: 180%;
  background-color: #FCD34D;
  position: absolute;
  top: 100%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  filter: blur(100px);
  z-index: 1;
  opacity: 40%;
}

@keyframes spin {
  0% {
    rotate: 0;
    opacity: 1;
  } 50% {
    opacity: .2;
    rotate: 360deg;
  } 100% {
    rotate: 720deg;
    opacity: 1;
  }
}

.container div:last-child::after {
  content: '';
  width: 180%;
  height: 154.2%;
  background: linear-gradient(transparent, #FCD34D);
  border: 2px solid #FCD34D;
  animation: spin 10s infinite linear;
  position: absolute;
  top: 15%;
  left: -40%;
  border-radius: 50%;
  z-index: 1;
}

.container div:last-child img {
  z-index: 2;
  display: block;
  position: relative;
  max-height: 31.25rem;
  height: 100%;
}

@keyframes levitation {
  from {
    transform: translateY(0%);
  } to {
    transform: translateY(30%);
  }
}

.container div:last-child h3 {
  background-color: #FAFAFA;
  color: #1C1917;
  padding: 1.5625rem 1.375rem;
  width: fit-content;
  border-radius: 100px;
  z-index: 2;
  position: absolute;
  top: 45%;
  left: -30%;
  animation: levitation 5s infinite alternate linear;
}

.container div:last-child h3 + h3 {
  left: unset;
  top: 60%;
  right: -30%;
  animation-direction: alternate-reverse;
}

.container div:last-child h3::before {
  content: '';
  width: calc(100% + 1rem);
  height: calc(100% + 1rem);
  background: linear-gradient(#FAFAFA, transparent);
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 100px;
  transform: translate(-50%, -50%);
  z-index: -2;
  opacity: 40%;
}

@media screen and (max-width: 890px) {
  .container {
    padding: 0 1.25rem;
  }

  .container div:first-child {
    text-align: center;
  }
}

@media screen and (max-width: 790px) {
  .container div:last-child img {
    max-height: 25rem;
  }

  .container div:last-child h3 {
    font-size: .875rem;
  }
}

@media screen and (max-width: 635px) {
  .container div:last-child h3 {
    left: -10%;
  }

  .container div:last-child h3 + h3 {
    right: -10%;
  }
}

@media screen and (max-width: 595px) {
  .container h1 {
    font-size: 2.5rem;
  }
  
  .container h2 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 375px) {
  .container div:last-child h3 {
    top: 55%;
    left: 0;
  }

  .container div:last-child h3 + h3 {
    top: 70%;
    right: 3%;
  }
}
