.grid {
  background-color: var(--primary);
  border-radius: 5px;
  padding: 4.0625rem;
  padding-right: 3.0625rem;
  max-width: 44.625rem;
  width: 100%;
  scrollbar-width: 1rem;
  scrollbar-color: var(--secondary) transparent;
  scrollbar-gutter: stable;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
  gap: 1rem;
  margin: auto;
}
