.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  max-width: 30rem;
  margin: 0 auto;
  gap: 1.5rem;
  padding: 2rem;
}

.profilePic {
  border-radius: 50%;
  filter: grayscale(100%);
}

.heading {
  color: var(--white);
}

.linksList {
  list-style-type: none;
}

.linksList li {
  display: inline-block;
  background: var(--primary);
  padding: 1rem 2rem;
  border-radius: 5px;
  width: 100%;
  text-align: center;
  margin: 1rem 0;
}
