---
import Layout from "layouts/Layout.astro";
---

<Layout title="Como trabalho">
    <div
        class="max-w-screen-md mx-auto px-8 py-10 pt-20"
        transition:name="container"
        transition:animate="slide"
    >
        <h1 transition:name="heading-1" class="antialiased text-2xl font-bold">
            Como trabalho
        </h1>
        <section class="mt-4 text-lg leading-relaxed">
            <h2 class="text-xl font-semibold mb-4">Índice</h2>
            <ol class="list-decimal list-inside">
                <li>
                    <a href="#introducao">Introdução</a>
                </li>
                <li>
                    <a href="#analise">Análise</a>
                </li>
                <li>
                    <a href="#design">Design</a>
                </li>
                <li>
                    <a href="#planejamento">Planejamento</a>
                </li>
                <li>
                    <a href="#desenvolvimento">Desenvolvimento</a>
                </li>
            </ol>
        </section>
        <section class="mt-4 text-lg leading-relaxed">
            <h2 class="text-xl font-semibold mb-4">Introdução</h2>
            <p></p>
        </section>
    </div>
</Layout>
