---
import Layout from "layouts/Layout.astro";
import Header from "components/header.astro";
import Icon from "components/icon.astro";
import nodemailer from "nodemailer";

export const prerender = false;

let emailSent = false;

const transporter = nodemailer.createTransport({
    host: "smtp.mail.yahoo.com",
    port: 465,
    secure: true,
    auth: {
        user: import.meta.env.SMTP_USER,
        pass: import.meta.env.SMTP_PASS,
    },
});

if (Astro.request.method === "POST") {
    try {
        const data = await Astro.request.formData();
        const name = String(data.get("name"));
        const email = String(data.get("email"));
        const message = String(data.get("message"));
        transporter.sendMail({
            from: {
                name: "NASC.DEV",
                address: import.meta.env.SMTP_USER,
            },
            to: "João Nascimento <oi@nasc.dev>",
            subject: "nasc.dev - Contato de " + name,
            text: `Nome: ${name}\nE-mail: ${email}\nMensagem: ${message}`,
        });
        console.log("E-mail enviado com sucesso!");
        emailSent = true;
    } catch (error) {
        if (error instanceof Error) {
            console.error(error.message);
        }
    }
}
---

<Layout title="Contato">
    <Header />
    <script
        is:inline
        src="https://www.google.com/recaptcha/api.js"
        slot="header"></script>
    <div
        class="max-w-screen-md mx-auto px-8 py-10 pt-20"
        transition:name="container"
        transition:animate="slide"
    >
        <h1 transition:name="heading-1" class="antialiased text-2xl font-bold">
            Contato
        </h1>
        <form method="POST">
            <label for="name" class="block mt-4 text-lg font-semibold">
                Nome
            </label>
            <input
                type="text"
                id="name"
                name="name"
                class="w-full p-3 mt-1 border border-gray-300 rounded-md"
                required
            />
            <label for="email" class="block mt-4 text-lg font-semibold">
                E-mail
            </label>
            <input
                type="email"
                id="email"
                name="email"
                class="w-full p-3 mt-1 border border-gray-300 rounded-md"
                required
            />
            <label for="message" class="block mt-4 text-lg font-semibold">
                Mensagem
            </label>
            <textarea
                id="message"
                name="message"
                class="w-full p-3 mt-1 border border-gray-300 rounded-md min-h-32"
                required></textarea>
            <div class="flex flex-wrap items-center">
                <button
                    type="submit"
                    class="g-recaptcha mt-4 mr-4 text-xl text-white font-semibold antialiased bg-blue-600 p-3 px-4 rounded-md inline-block"
                    data-sitekey={import.meta.env.PUBLIC_RECAPTCHA_SITE_KEY}
                    data-callback="onSubmit"
                    data-action="submit"
                >
                    Enviar
                </button>
                {
                    emailSent && (
                        <span class="flex flex-wrap items-center gap-2 mt-4 text-lg text-green-600">
                            <Icon name="mail-check" class="size-5" />
                            E-mail enviado com sucesso!
                        </span>
                    )
                }
            </div>
        </form>
    </div>
</Layout>
<script>
    import { MailCheck, createIcons } from "lucide";

    createIcons({
        icons: {
            MailCheck,
        },
    });
</script>
<script is:inline>
    function onSubmit(token) {
        fetch("/recaptcha", {
            method: "POST",
            body: JSON.stringify({ recaptcha: token }),
        })
            .then((response) => response.json())
            .then((gResponse) => {
                if (gResponse.success) {
                    const form = document.querySelector("form");
                    form.submit();
                } else {
                    alert("Ocorreu um erro ao enviar o formulário.");
                }
            });
    }
</script>
