---
import Layout from "layouts/Layout.astro";
import Header from "components/header.astro";
import Icon from "components/icon.astro";
import { cva } from "class-variance-authority";

const styles = {
    hero: cva([
        "py-20",
        "pt-0",
        "rounded-lg",
        "transition-colors",
        "[transition-duration:250ms]",
        "cursor-default",
    ]),
    button: cva([
        "text-xl",
        "text-white",
        "font-semibold",
        "antialiased",
        "bg-blue-600",
        "p-3",
        "px-4",
        "rounded-md",
        "inline-block",
    ]),
};
---

<Layout title="João Nascimento">
    <Header showBrandOnScroll />
    <div
        class="max-w-screen-md mx-auto px-8 py-36"
        transition:name="container"
        transition:animate="slide"
    >
        <section id="hero" class={styles.hero()}>
            <h1
                class="text-3xl font-bold antialiased [&:hover>span]:text-blue-600"
                transition:name="heading-1"
            >
                João
                <span class="transition-colors [transition-duration:250ms]">
                    Nasc</span
                >imento
            </h1>
            <p class="text-lg text-gray-500">Desenvolvedor Full Stack</p>
            <p class="mt-4 text-xl leading-relaxed">
                Atuo principalmente com o desenvolvimento de aplicações web
                utilizando tecnologias como React, Next.js, Node.js e outras.
            </p>
            <br />
            <a href="/contato" class={styles.button()}>Fale comigo</a>
        </section>
        <section>
            <a
                href="#projects"
                class="relative before:content-['#'] before:text-gray-400 before:hidden [&:hover::before]:block before:absolute before:-left-2 before:-translate-x-full text-xl font-semibold antialiased"
            >
                <h2 id="projects">Projetos</h2>
            </a>
            <div
                class="mt-4 grid [grid-template-columns:repeat(auto-fit,minmax(242px,1fr))] gap-4"
            >
                <a
                    href="https://pop.nasc.dev"
                    class="border rounded-lg p-4 hover:bg-gray-50"
                    target="_blank"
                >
                    <article class="grid gap-2">
                        <h3 class="text-2xl font-semibold antialiased">
                            Popping Monsters
                        </h3>
                        <p class="text-md text-gray-500 leading-relaxed">
                            Jogo estilo arcade.
                        </p>
                        <span class="flex gap-1 underline">
                            Acessar
                            <Icon
                                name="external-link"
                                class="size-3 transition-transform"
                            />
                        </span>
                    </article>
                </a>
                <a
                    href="https://coolumns.com.br"
                    class="flex gap-1 border rounded-lg p-4 hover:bg-gray-50"
                    target="_blank"
                >
                    <article class="grid gap-2">
                        <h3 class="text-2xl font-semibold antialiased">
                            coolumns
                        </h3>
                        <p class="text-md text-gray-500 leading-relaxed">
                            Gerenciador de projetos.
                        </p>
                        <span class="flex gap-1 underline">
                            Acessar (Pré-cadastro)
                            <Icon
                                name="external-link"
                                class="size-3 transition-transform"
                            />
                        </span>
                    </article>
                </a>
            </div>
            <br />
            <a
                href="/projetos"
                class="flex w-fit gap-1 items-center text-blue-600 text-lg [&:hover>svg]:translate-x-1"
            >
                Ver mais
                <Icon
                    transition:persist
                    name="arrow-right"
                    class="size-5 transition-transform"
                />
            </a>
        </section>
        <hr class="my-20" />
        <section>
            <a
                href="#como-trabalho"
                class="relative before:content-['#'] before:text-gray-400 before:hidden [&:hover::before]:block before:absolute before:-left-2 before:-translate-x-full text-xl font-semibold antialiased"
            >
                <h2 id="como-trabalho">Como trabalho</h2>
            </a>
            <p class="mt-4 text-xl leading-relaxed">
                Hoje eu estou focado em utilizar a tecnologia de forma
                consciente para produzir páginas, aplicações e soluções que
                atendam as necessidades de forma satisfatória e, principalmente,
                eficiente.
            </p>
            <br />
            <button
                disabled
                class="relative after:absolute after:bottom-0 after:translate-y-full after:content-['Em_breve'] after:text-sm flex w-fit gap-1 items-center text-blue-600 opacity-60 cursor-not-allowed text-lg"
            >
                Saiba mais
                <Icon name="arrow-right" class="size-5 transition-transform" />
            </button>
        </section>
    </div>
    <script>
        import { ArrowRight, ExternalLink, createIcons } from "lucide";

        document.addEventListener("astro:page-load", () => {
            createIcons({
                icons: {
                    ArrowRight,
                    ExternalLink,
                },
            });
        });
    </script>
</Layout>
