---
import Layout from "layouts/Layout.astro";
---

<Layout title="João Nascimento">
    <div class="max-w-screen-md mx-auto">
        <section
            id="hero"
            class="p-4 py-36 rounded-lg m-4 transition-colors [transition-duration:250ms] hover:bg-gray-50 [&:hover>h1>span]:text-blue-600 cursor-default"
        >
            <h1 class="text-3xl">
                João
                <span class="transition-colors [transition-duration:250ms]">
                    Nasc
                </span>
                imento
            </h1>
            <p class="text-lg">Desenvolvedor Full Stack</p>
        </section>
    </div>
</Layout>
