---
import Layout from "layouts/Layout.astro";
---

<Layout title="Sobre">
    <div
        class="max-w-screen-md mx-auto px-8 py-10 pt-20"
        transition:name="container"
        transition:animate="slide"
    >
        <h1 transition:name="heading-1" class="antialiased text-2xl font-bold">
            Sobre
        </h1>
        <p
            class="mt-4 text-2xl leading-relaxed"
            itemscope
            itemtype="https://schema.org/Person"
        >
            Meu nome é <span itemprop="name">João Nascimento</span> e sou <span
                itemprop="jobTitle">desenvolvedor Full Stack</span
            >. Atuo principalmente com o <span itemprop="description"
                >desenvolvimento de aplicações web</span
            > utilizando tecnologias como <span itemprop="knowsAbout"
                >React, Next.js, Node.js e outras</span
            >.
        </p>
        <section class="mt-4 text-lg leading-relaxed">
            <h2 class="text-xl font-semibold mb-4">Bio</h2>
            <p>
                Comecei a trabalhar em 2012 com design gráfico atuando em
                agências de publicidade e gráficas. Nessa época produzi minhas
                primeiras páginas web utilizando HTML e CSS. No final de 2019
                comecei a estudar programação, o que me levou a participar de
                hackathons e a desenvolver projetos pessoais.
            </p>
            <br />
            <p>
                No Mega Hack 3.0, hackathon organizado pela Shawee, juntamente
                com a equipe que formei, alcançamos o 2º lugar com a solução <a
                    href="https://www.youtube.com/watch?v=fyb0b3AxPSs"
                    target="_blank"
                    class="underline">"Mercado Amigos"</a
                > que foi selecionada pelo Mercado Livre. A partir daí, decidi me
                dedicar exclusivamente ao desenvolvimento de software.
            </p>
            <br />
            <p>
                No final de 2020 fui aprovado no processo seletivo da <a
                    href="https://www.betrybe.com/"
                    target="_blank"
                    class="underline">Trybe</a
                >, onde pude aprender mais sobre desenvolvimento web com uma
                formação intensiva de aproximadamente 12 meses. Durante o curso
                fui convidado a participar do programa de mentoria da Trybe,
                onde pude ajudar outros estudantes a superar desafios e
                aprimorar suas habilidades.
            </p>
            <p>
                Ao me formar, fui contratado pela Trybe como Instrutor de
                Desenvolvimento Web, posteriormente sendo promovido a Instrutor
                II (Pleno), onde pude ajudar a formar novas turmas e aprimorar
                ainda mais minhas habilidades de ensino e desenvolvimento. Fui
                responsável por ministrar aulas de desenvolvimento web,
                mentorias, orientar os estudantes em seus projetos e ajudar a
                desenvolver novos conteúdos para o curso.
            </p>
            <br />
            <p>
                Em 2023, decidi sair da Trybe para me dedicar a novos desafios e
                fortalecer minha carreira como desenvolvedor. Trabalhei na
                Triple Epic como Desenvolvedor Full Stack, com ênfase em
                front-end, onde pude desenvolver significativamente minhas
                habilidades em React, Next.js, Node.js, Jest, Cypress,
                Playwright, entre outras tecnologias.
            </p>
        </section>
        <section class="mt-4 text-lg leading-relaxed">
            <h2 class="text-xl font-semibold mb-4">Redes</h2>
            <ul
                class="[&_a]:underline list-disc list-inside marker:text-gray-500"
            >
                <li>
                    <a href="https://github.com/nascjoao" target="_blank"
                        >GitHub</a
                    >
                </li>
                <li>
                    <a href="https://linkedin.com/in/nascjoao" target="_blank"
                        >LinkedIn</a
                    >
                </li>
                <li>
                    <a href="https://youtube.com/nascjoao" target="_blank"
                        >YouTube</a
                    >
                </li>
            </ul>
        </section>
    </div>
</Layout>
