---
interface Props {
    showBrandOnScroll?: boolean;
}

const { showBrandOnScroll } = Astro.props;
import { cx } from "class-variance-authority";
const { pathname } = Astro.url;
---

<header>
    <nav
        class="transition-all border-b border-b-transparent duration-500 fixed flex items-center justify-between left-0 p-4 top-0 z-10 w-full"
    >
        <strong
            class={cx(
                "transition-all duration-700",
                showBrandOnScroll ? "opacity-0" : "opacity-100",
            )}
        >
            <a href="/">João Nascimento</a>
        </strong>
        <ul
            class="flex gap-4 ml-auto justify-end"
            transition:name="global-menu"
        >
            <li class="relative">
                <a
                    href="/"
                    class={cx(pathname === "/" ? "opacity-1" : "opacity-60")}
                    >Início</a
                >
            </li>
            <li class="relative">
                <a
                    href="/sobre"
                    class={cx(
                        pathname === "/sobre" ? "opacity-1" : "opacity-60",
                    )}>Sobre</a
                >
            </li>
            <li class="relative">
                <a
                    href="/contato"
                    class={cx(
                        pathname === "/contato" ? "opacity-1" : "opacity-60",
                    )}>Contato</a
                >
            </li>
        </ul>
    </nav>
</header>
<script>
    document.body.onscroll = () => {
        const nav = document.querySelector("nav");
        const brand = document.querySelector("strong");
        const classes = [
            "bg-white",
            "bg-opacity-50",
            "backdrop-blur-md",
            "shadow-xl",
            "shadow-[rgba(0,0,0,0.03)]",
        ];
        if (window.scrollY > 0) {
            nav?.classList.add(...classes);
            nav?.classList.remove("border-b-transparent");
            brand?.classList.remove("opacity-0");
        } else {
            nav?.classList.remove(...classes);
            nav?.classList.add("border-b-transparent");
            brand?.classList.add("opacity-0");
        }
    };
</script>
