.skill {
  display: inline-block;
  padding: 0;
  background-color: var(--secondary);
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  position: relative;
  height: 5.9375rem;
}

.skill svg {
  font-size: 5.3125rem;
  margin-top: -.7rem;
  margin-left: -.5rem;
}

.skill strong {
  color: var(--primary);
  font-size: 1.25rem;
  right: 1.25rem;
  bottom: 1.125rem;
  position: absolute;
}

.skill::before {
  content: '';
  background: linear-gradient(transparent, var(--secondary) 80%);
  width: 100%;
  height: 100%;
  position: absolute;
}
