@keyframes notificationEntrance {
  from {
    opacity: 0;
    transform: translateX(100%);
  } to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes notificationClose {
  from {
    opacity: 1;
    transform: translateY(0);
    scale: 1;
  } to {
    opacity: 0;
    transform: translateY(10%);
    scale: 0.9;
  }
}

.notification {
  animation: notificationEntrance 300ms forwards;
  position: fixed;
  max-width: 25rem;
  right: 0;
  top: 0;
  margin: 2rem;
  padding: 1rem 1.5rem;
  padding-top: 1.3rem;
  padding-right: 1.8rem;
  background: #ccc;
  border: 1px solid #333;
  border-radius: 5px;
  color: black;

  p {
    margin-top: 0.3rem;
  }

  button {
    width: 1rem;
    height: 1rem;
    background: transparent;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.3rem;

    &:hover {
      backdrop-filter: brightness(80%);
    }
  }

  &.closing {
    animation: notificationClose 300ms forwards;
  }

  &.error {
    background: #84192d;
    border-color: #aa394d;
    color: #fafafa;
    
    button {
      color: #fafafa;
    }
  }
}
